<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,815},{76,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,103}}</string>
                <key>sourceSize</key>
                <string>{78,105}</string>
            </dict>
            <key>UI_KP_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,849},{49,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_bA.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,815},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_bJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,801},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_bK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,801},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_bQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,801},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_fangk.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,815},{78,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>UI_KP_fangkJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_fangkJ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_fangkK.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_fangkK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_fangkQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,613},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_fangkQ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,195},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_heit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,815},{82,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>UI_KP_heitJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,203},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_heitJ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,213},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_heitK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_heitK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,405},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_heitQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,613},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_heitQ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,389},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_hongt.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,815},{82,97}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{82,97}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>UI_KP_hongtJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,405},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_hongtJ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,425},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_hongtK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,203},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_hongtK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,599},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_hongtQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_hongtQ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,583},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_meih.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,801},{88,99}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>UI_KP_meihJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,613},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_meihJ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,637},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_meihK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,405},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_meihK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,607},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_meihQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,203},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>UI_KP_meihQ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,607},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>UI_KP_paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{440,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,610}}</string>
                <key>sourceSize</key>
                <string>{440,610}</string>
            </dict>
            <key>UI_KP_paimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1},{440,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,610}}</string>
                <key>sourceSize</key>
                <string>{440,610}</string>
            </dict>
            <key>UI_KP_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,801},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,801},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,801},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,801},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,793},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,793},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,793},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,849},{49,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,793},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_rA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,777},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_rJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,777},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_rK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,777},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>UI_KP_rQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,777},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1950,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42727cc488a7ef1a1fc3db03df3b1ee6:6b540f3e69609b05b14580bd85acd1cf:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
